# Data Sourcing and Preparation

## List of Content
##### 1.0 Preparing the freshly sourced data set for observation/analysis
- An overview of the dataframe

##### 2.0 Carrying out wrangling checks
- Dropping columns
- Modifying/Renaming columns

##### 3.0 Data consistency checks
- Checking for mixed data type
- Searching and tackling missing values
- Detecting and handling the presence of duplicates

##### 4.0 Exporting the data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Import the sourced dataset for the project as df_Airbnb

df_Airbnb = pd.read_csv(r'C:\Users\IDONG\Original data\Airbnb_Open_Data_NY.csv', index_col = False)

C:\Users\IDONG\AppData\Local\Temp\ipykernel_173464\63909464.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_Airbnb = pd.read_csv(r'C:\Users\IDONG\Original data\Airbnb_Open_Data_NY.csv', index_col = False)

## 1.0 Preparing the freshly sourced data set for observation/analysis

##### 1.1 An Overview of the Dataframe

In [3]:
# Checking for the dataframe dimensions

df_Airbnb.shape

(102599, 28)

In [4]:
df_Airbnb.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,07/05/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [5]:
df_Airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price_P                         102352 non-null  object
 16  price                           102352 non-null  float64
 17  service fee                     102326 non-null  float64
 18  service                         102326 non-null  object
 19  minimum nights                  102190 non-null  float64
 20  number of reviews               102416 non-null  float64
 21  last review                     86706 non-null   object
 22  reviews per month               86720 non-null   float64
 23  review rate number              102273 non-null  float64
 24  calculated host listings count  102280 non-null  float64
 25  availability 365                102151 non-null  float64
 26  house_rules                     50468 non-null   object
 27  license                         2 non-null       object
dtypes: float64(11), int64(2), object(15)
memory usage: 21.9+ MB

## 2.0 Carrying out wrangling checks

##### 2.1 Dropping Columns

In [6]:
# Removing columns that have been confirmed as not readily needed for the project('host name' was removed due to data privacy).

df_Airbnb_NY = df_Airbnb.drop(columns = ['NAME', 'host name', 'country code', 'price_P', 'service', 'reviews per month', 'house_rules', 'license'])

In [7]:
# Reconfirming the dimensions after columns removal 

df_Airbnb_NY.shape

(102599, 20)

##### 2.2 Modifying/Renaming columns

In [8]:
# There was a need to rename some columns for immediate understanding and uniformity.

df_Airbnb_NY.rename(columns = {'host id' : 'host_id'}, inplace = True)

In [9]:
df_Airbnb_NY.rename(columns = {'host_identity_verified' : 'verification'}, inplace = True)

In [10]:
df_Airbnb_NY.rename(columns = {'neighbourhood group' : 'neighbourhood_group'}, inplace = True)

In [11]:
df_Airbnb_NY.rename(columns = {'room type' : 'room_type'}, inplace = True)

In [12]:
df_Airbnb_NY.rename(columns = {'Construction year' : 'construction_year'}, inplace = True)

In [13]:
df_Airbnb_NY.rename(columns = {'service fee' : 'service_fee'}, inplace = True)

In [14]:
df_Airbnb_NY.rename(columns = {'minimum nights' : 'minimum_nights'}, inplace = True)

In [15]:
df_Airbnb_NY.rename(columns = {'number of reviews' : 'num_of_reviews'}, inplace = True)

In [16]:
df_Airbnb_NY.rename(columns = {'last review' : 'last_review'}, inplace = True)

In [17]:
df_Airbnb_NY.rename(columns = {'review rate number' : 'rating'}, inplace = True)

In [18]:
df_Airbnb_NY.rename(columns = {'calculated host listings count' : 'host_listings_count'}, inplace = True)

In [19]:
df_Airbnb_NY.rename(columns = {'availability 365' : '365_availability'}, inplace = True)

## 3.0 Data consistency checks

##### 3.1 Checking for mixed data type

In [20]:
# A quick check to ascertain the presence of mixed data types in any given column

for col in df_Airbnb_NY.columns.tolist():
  weird = (df_Airbnb_NY[[col]].applymap(type) != df_Airbnb_NY[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_Airbnb_NY[weird]) > 0:
    print (col)

verification
neighbourhood_group
neighbourhood
country
instant_bookable
cancellation_policy
last_review

In [21]:
# Streamlining the values in identified columns for the sake of data type uniformity per column

df_Airbnb_NY['verification'] = df_Airbnb_NY['verification'].astype('str')

In [22]:
df_Airbnb_NY['neighbourhood_group'] = df_Airbnb_NY['neighbourhood_group'].astype('str')

In [23]:
df_Airbnb_NY['neighbourhood'] = df_Airbnb_NY['neighbourhood'].astype('str')

In [24]:
df_Airbnb_NY['country'] = df_Airbnb_NY['country'].astype('str')

In [25]:
df_Airbnb_NY['instant_bookable'] = df_Airbnb_NY['instant_bookable'].astype('str')

In [26]:
df_Airbnb_NY['cancellation_policy'] = df_Airbnb_NY['cancellation_policy'].astype('str')

In [27]:
df_Airbnb_NY['last_review'] = df_Airbnb_NY['last_review'].astype('str')

In [28]:
# Another quick check to reconfirm the data type mixture correction was successfully executed

for col in df_Airbnb_NY.columns.tolist():
  weird = (df_Airbnb_NY[[col]].applymap(type) != df_Airbnb_NY[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_Airbnb_NY[weird]) > 0:
    print (col)

##### 3.2 Searching and tackling missing values

In [29]:
# Now checking for missing values in the dataframe

df_Airbnb_NY.isnull().sum()

id                       0
host_id                  0
verification             0
neighbourhood_group      0
neighbourhood            0
lat                      8
long                     8
country                  0
instant_bookable         0
cancellation_policy      0
room_type                0
construction_year      214
price                  247
service_fee            273
minimum_nights         409
num_of_reviews         183
last_review              0
rating                 326
host_listings_count    319
365_availability       448
dtype: int64

In [30]:
# Corrective measure deployed is deleting the rows with missing values

df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['construction_year'].isnull() == False]

In [31]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['minimum_nights'].isnull() == False]

In [32]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['num_of_reviews'].isnull() == False]

In [33]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['rating'].isnull() == False]

In [34]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['host_listings_count'].isnull() == False]

In [35]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['365_availability'].isnull() == False]

In [36]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['lat'].isnull() == False]

In [37]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['long'].isnull() == False]

In [38]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['price'].isnull() == False]

In [39]:
df_Airbnb_NY = df_Airbnb_NY [df_Airbnb_NY['service_fee'].isnull() == False]

In [40]:
# A quick check to confirm successfully execution

df_Airbnb_NY.isnull().sum()

id                     0
host_id                0
verification           0
neighbourhood_group    0
neighbourhood          0
lat                    0
long                   0
country                0
instant_bookable       0
cancellation_policy    0
room_type              0
construction_year      0
price                  0
service_fee            0
minimum_nights         0
num_of_reviews         0
last_review            0
rating                 0
host_listings_count    0
365_availability       0
dtype: int64

In [41]:
# Restablishing the dataframe dimensions

df_Airbnb_NY.shape

(100425, 20)

##### 3.3 Detecting and handling the presence of duplicates

In [42]:
# Running the dataframe to check for duplicates

dup = df_Airbnb_NY[df_Airbnb_NY.duplicated()]

In [43]:
dup

,id,host_id,verification,neighbourhood_group,neighbourhood,lat,long,country,instant_bookable,cancellation_policy,room_type,construction_year,price,service_fee,minimum_nights,num_of_reviews,last_review,rating,host_listings_count,365_availability
102058,35506831,55110690425,unconfirmed,Queens,Maspeth,40.74056,-73.90635,United States,True,strict,Private room,2016.0,706.0,141.0,1.0,1.0,11/14/2021,3.0,1.0,339.0
102059,35507383,80193772189,verified,Brooklyn,Fort Greene,40.68701,-73.97555,United States,False,flexible,Private room,2020.0,651.0,130.0,3.0,38.0,11/13/2021,3.0,1.0,0.0
102060,35507935,72991962259,verified,Brooklyn,Greenpoint,40.73756,-73.95350,United States,False,strict,Hotel room,2016.0,907.0,181.0,3.0,10.0,11/13/2021,3.0,30.0,32.0
102061,35508488,74975156081,verified,Brooklyn,Greenpoint,40.72516,-73.95004,United States,False,strict,Private room,2013.0,589.0,118.0,30.0,38.0,11/13/2021,5.0,2.0,324.0
102062,35509040,85844415221,unconfirmed,Brooklyn,Greenpoint,40.72732,-73.94185,United States,False,flexible,Entire home/apt,2015.0,356.0,71.0,30.0,13.0,11/13/2021,4.0,28.0,336.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,12312296767,verified,Brooklyn,Williamsburg,40.70862,-73.94651,United States,False,flexible,Private room,2003.0,844.0,169.0,1.0,0.0,nan,3.0,1.0,227.0
102595,6092990,77864383453,unconfirmed,Manhattan,Morningside Heights,40.80460,-73.96545,United States,True,moderate,Private room,2016.0,837.0,167.0,1.0,1.0,07/06/2015,2.0,2.0,395.0
102596,6093542,69050334417,unconfirmed,Brooklyn,Park Slope,40.67505,-73.98045,United States,True,moderate,Private room,2009.0,988.0,198.0,3.0,0.0,nan,5.0,1.0,342.0
102597,6094094,11160591270,unconfirmed,Queens,Long Island City,40.74989,-73.93777,United States,True,strict,Entire home/apt,2015.0,546.0,109.0,2.0,5.0,10/11/2015,3.0,1.0,386.0
102598,6094647,68170633372,unconfirmed,Manhattan,Upper West Side,40.76807,-73.98342,United States,False,flexible,Entire home/apt,2010.0,1032.0,206.0,1.0,0.0,nan,3.0,1.0,69.0

In [44]:
# Ensuring the dataframe is free of duplicates

df_Airbnb_NY_clean = df_Airbnb_NY.drop_duplicates()

In [45]:
df_Airbnb_NY_clean.shape

(99900, 20)

In [46]:
# A quick look at the statistical qualities of the dataframe

df_Airbnb_NY_clean.describe()

# There's a quick observation
# The maximum value in 365_availability column is '3677'. Idealy,no value should exceed 365

,id,host_id,lat,long,construction_year,price,service_fee,minimum_nights,num_of_reviews,rating,host_listings_count,365_availability
count,9.990000e+04,9.990000e+04,99900.000000,99900.000000,99900.000000,99900.000000,99900.000000,99900.000000,99900.000000,99900.000000,99900.000000,99900.000000
mean,2.929651e+07,4.925292e+10,40.728047,-73.949641,2012.486256,625.464314,125.093784,8.083033,27.346827,3.279650,7.954915,140.744454
std,1.623461e+07,2.853867e+10,0.055852,0.049554,5.762644,331.690134,66.341411,28.724539,49.170887,1.284543,32.340632,135.384437
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,50.000000,10.000000,-1223.000000,0.000000,1.000000,1.000000,-10.000000
25%,1.521961e+07,2.457814e+10,40.688700,-73.982580,2007.000000,340.000000,68.000000,2.000000,1.000000,2.000000,1.000000,3.000000
50%,2.937823e+07,4.911800e+10,40.722255,-73.954450,2012.000000,625.000000,125.000000,3.000000,7.000000,3.000000,1.000000,95.000000
75%,4.337504e+07,7.398330e+10,40.762760,-73.932340,2017.000000,913.000000,183.000000,5.000000,30.000000,4.000000,2.000000,268.000000
max,5.736024e+07,9.876313e+10,40.916970,-73.705220,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,5.000000,332.000000,3677.000000

## 4.0 Exporting the data

In [47]:
# Defining the path

path = r'C:\Users\IDONG'

In [49]:
# Exporting as Airbnb_NY_clean

df_Airbnb_NY_clean.to_csv(os.path.join(path, 'Prepared Data', 'Airbnb_NY_clean.csv'))